# Build and output folders
/bin/
/build/
/logs/
/.vscode/

# OS-specific
*.DS_Store

# Temporary files
*.o
*.obj
*.log
*.tmp

# CMake cache
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
TODO.md
